$font: 'Nunito', 'sans-serif';
$primary-color: #FFFFFF;
$secondary-color: #625353;
$third-color: #C4C4C4;
$textShadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
$box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$background: linear-gradient(to bottom, #a4ebf3, #ccf2f4, #dffdff)

