@use './base/' as *;
*{
    margin: 0;
    padding: 0
}
.App{
    @include background($background, no-repeat);
    height: 100vh;
    font-family: $font
}
.searchBar{
    @extend %glass;
    @include size(40px, 600px, 15px, 0);
    margin: 0 auto;
    transform: translateY(25px)
    
    
}
.searchHistory{
    @include size(170px, 140px, 0, 5px);
    @include fontStyle(18px, $secondary-color, $textShadow, 30px, center);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.46) 51.56%, rgba(255, 255, 255, 0.0322) 100%);

        .searchResult{
            color: $third-color;
            text-shadow: none
        }
}
.cardContainer{
    display: flex;
    width: 800px;
    margin: 50px auto;

}
.weatherCard{
    @include size(170px, 340px, 0, 0);
    @include fontStyle(18px, $primary-color, $textShadow, 30px, center);

        .location{
            font-size: 40px
        };

        .status{
            font-size: 18px;
            margin-bottom: 5px
        };

        .temp{
            font-size: 55px
        }
}